:root {
    --primary: #EF233C;
    --secondary: #8D99AE;
    --tertiary: #D90429;
    --light: #EDF2F4;
    --dark: #2B2D42;

    --primary-hover: #a7182a;
    --whitesmoke-hover:  rgb(197, 197, 197);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

input:focus, input:active, select:focus, select:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

/* text color  */

.text-primary {
    color: var(--primary) !important;
}

.text-primary-hover {
    color: var(--primary-hover) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-smoke {
    color: whitesmoke;
}

.active, .nav-link:hover {
    color: var(--primary) !important;
    background-color: transparent !important;
}

/* border color */


/* outline color  */
.outline-danger {
    box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5);
}

/* background */

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-smoke {
    background-color: whitesmoke;
}

/* font size */

.fs-7 {
    font-size: .85rem;
}

.fs-8 {
    font-size: .70rem;
}

.fs-9 {
    font-size: .55rem;
}


/* buttons */

.btn-primary {
    background-color: var(--primary);
    border: var(--primary) 1px solid;
    height: 38px;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border: var(--primary-hover) 1px solid;
    height: 38px;
}

.btn-primary-opposite {
    background-color: var(--white) !important;
    border: var(--primary) 1px solid !important;  
    color: var(--primary);
    height: 38px;
}

.btn-primary-opposite:hover {
    background-color: var(--whitesmoke-hover) !important;
    border: var(--primary-hover) 1px solid !important;
    color: var(--primary-hover);
    height: 38px;
}

.btn {
    height: 38px !important;
}

.btn-white {
    background-color: white;
    border-radius: 0;
}

.btn-white:hover {
    background-color: whitesmoke !important;
    box-shadow: 0px 0px 10px whitesmoke !important;
}

.btn-cancel {
    background-color: whitesmoke;
    border: var(--dark) 1px solid !important;
    height: 38px;
}

.btn-cancel:hover {
    background-color: var(--whitesmoke-hover);
    color: var(--dark) !important;
    border: var(--dark) 1px solid !important;
    height: 38px;
}

.btn-settings-size {
    width: 80px;
}

/* borders  */

.border-light {
    border-color: var(--light);
}

.border-primary {
    border: var(--primary) 1px solid !important;
    
}

/* pagination css  */

.page-link {
    color: var(--primary);
}

.paginate_button.page-item.active a {
    background-color: var(--primary);
    border: 1px var(--primary) solid;
    box-shadow: none;
}

.paginate_button.page-item a:hover {
    background-color: var(--primary-hover);
    border: 1px var(--primary-hover) solid;
    color: white;
    font-weight: bold;
    box-shadow: none;
}

.paginate_button.page-item.previous.disabled a, .paginate_button.page-item.next.disabled a {
    background-color: white;
}

/* html tags */

body {
    background-color: whitesmoke;
}

/* header.user css */
.header-top {
    height: 50px !important ;
}

.header-bottom {
    height: 30px !important;
}

/* header.admin css  */

.w-custom {
    height: max-content;
}

/* carousel custom css */

.carousel-custom {
    max-width: 100% !important;
    max-height: 550px !important;
}

.img-custom {
    width: inherit;
    height: 550px;
}

/* card css */

.card:hover {
    box-shadow: 0px 2px 5px var(--secondary);
    transition: .3s ease;
}

/* input css */

.form-control:disabled {
    background-color: transparent !important;
}


/* accordion css */

.accordion-button:not(.collpased) {
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-body {
    border-top: 1px solid var(--secondary) !important;
    border-bottom: 1px solid var(--secondary) !important;
}

/* height css */

.h-100 {
    height: 100% !important;
}

.min-vh-custom {
    min-height: calc(100vh - 50px);
}

/* user module css */

.custom-size {
    max-width: 450px !important;
    min-width: 300px !important;
    min-height: 300px !important;
}

/* preloader */

.loader-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--lightgrey);   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}

/* settings css */

/* admin-user css */
.profile-size {
    width: 200px;
    height: 200px;
}

.profile-list-size {
    width: 50px;
    height: 50px;
}

/* store css */

.store-card {
    height: 200px;
    width: 100%;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--light);
    background-color: var(--primary);
    border-color: var(--primary);
}

@media (max-width: 992px){
    .img-custom {
        height: 420px;
    }
}

@media (max-width: 768px){
    .img-custom {
        height: 300px;
    }
}

@media (max-width: 576px){
    .img-custom {
        height: 220px;
    }
}
     
