:root {
    --primary: #EF233C;
    --secondary: #8D99AE;
    --tertiary: #D90429;
    --light: #EDF2F4;
    --dark: #2B2D42;

    --primary-hover: #a7182a;;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

/* text color  */

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-light {
    color: var(--light) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.active, .nav-link:hover {
    color: var(--primary) !important;
    background-color: none !important;
}

/* border color */


/* outline color  */
.outline-danger {
    box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.5);
}

/* background */

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-smoke {
    background-color: whitesmoke;
}

/* font size */

.fs-7 {
    font-size: .85rem;
}

/* buttons */

.btn-primary {
    background-color: var(--primary);
    border: var(--primary);
    height: 38px;
}

.btn-primary:hover {
    background-color: var(--tertiary);
    border: var(--primary-hover);
    height: 38px;
}

/* borders  */

.border-light {
    border-color: var(--light);
}

/* html tags */

body {
    background-color: whitesmoke;
}

/* header.user css */
.header-top {
    height: 50px !important ;
}

.header-bottom {
    height: 30px !important;
}

/* user module css */

.custom-size {
    max-width: 450px !important;
    min-width: 300px !important;
    min-height: 300px !important;
}
